{# @var plugin \sparkalow\activecampaignforms\Plugin #}
{# @var settings \sparkalow\activecampaignforms\models\Settings #}



{% import '_includes/forms.twig' as forms %}
{{ forms.textField({
    first: true,
    label: 'API URL',
    name: 'account',
    required: true,
    instructions: 'Found in ActiveCampaign developer settings.',
    errors: settings.getErrors('account'),
    value: settings.account
}) }}


{{ forms.textField({
    label: 'API Key',
    id: 'apiKey',
    name: 'apiKey',
    required: true,
    instructions: 'Found in ActiveCampaign developer settings.',
    errors: settings.getErrors('apiKey'),
    value: settings.apiKey})
}}



<p>
    See the <a href="https://help.activecampaign.com/hc/en-us/articles/207317590-Getting-started-with-the-API">official docs</a> for more info on the ActiveCampaign API.
</p>